tensorflow==2.12.0
opencv-python==4.7.0.72
numpy==1.23.5
matplotlib==3.7.1
pillow==9.5.0
scikit-learn==1.2.2
pandas==2.0.0
tqdm==4.65.0
labelimg==1.8.6 # This was in the AI training doc, might be useful